/* Widget Namespaced Styles */
.kamcord-videos *, .kamcord-videos *:before, .kamcord-videos *:after {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

.kamcord-videos {
  overflow: auto
}

.kamcord-videos .vid-box {
  width: calc(100% / 3);
  float: left;
  padding: 10px 20px 10px 0;
}

.kamcord-videos .vid-box .preview {
  height: 0px;
  padding-bottom: 50%;
  background-size: cover;
  position: relative;
}

.kamcord-videos .vid-box .preview video {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100%;
  background: rgba(70, 72, 82, 0.7);
}

.kamcord-videos .vid-box .details {
  font-size: 12px;
  padding: 5px 5px 0 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kamcord-videos .vid-box .game-icon {
  float: left;
  width: 40px;
  padding: 3px;
}

.kamcord-videos .vid-box .game-icon img {
  width: 100%
}
.kamcord-videos .vid-box .title {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kamcord-videos .vid-box .title a {
  text-decoration: none;
  color: #669DD1;
}

.kamcord-videos .vid-box .info {
  padding: 5px;
  color: #C6C6C6;
}

.kamcord-videos .shadow {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
