/* Widget Namespaced Styles */
.kamcord-videos *, .kamcord-videos *:before, .kamcord-videos *:after {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

.kamcord-videos {
  overflow: auto;
}

.kamcord-videos .vid-box {
  width: calc(100% / 3);
  float: left;
  padding: 10px 15px 10px 5px;
}

.kamcord-videos .vid-box .preview {
  height: 0px;
  padding-bottom: 50%;
  background-size: cover;
  position: relative;
}

.kamcord-videos .vid-box .preview .interaction {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  font-size: 10px;
  display: none;
}

.kamcord-videos .vid-box .preview .play-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background:
    linear-gradient(
      rgba(70, 72, 82, 0.45),
      rgba(70, 72, 82, 0.45)
    ),
    url('../img/play.png')
    no-repeat center;
  display: none;
}

.kamcord-videos .vid-box .preview:hover .interaction,
.kamcord-videos .vid-box .preview:hover .play-overlay {
  display: block;
}

.kamcord-videos .vid-box .preview .duration {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: rgba(70, 72, 82, 0.9);
  padding: 3px;
  font-size: 10px;
  color: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.kamcord-videos .vid-box .preview video {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100%;
  background: rgba(70, 72, 82, 0.7);
}

.kamcord-videos .vid-box .details {
  font-size: 12px;
  background-color: #fff;
  padding: 5px 5px 0 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.kamcord-videos .vid-box .game-icon {
  float: left;
  width: 40px;
  padding: 3px;
}

.kamcord-videos .vid-box .game-icon img {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.kamcord-videos .vid-box .title {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kamcord-videos .vid-box .title a {
  text-decoration: none;
  color: #468aca;
}

.kamcord-videos .vid-box .info {
  padding: 5px;
  color: #C6C6C6;
}

.kamcord-videos .shadow {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
