/* Page Styles */
body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  background-image: url('//securecontent.kamcord.com/kamcord-static/img/background-noise-100_100.png?d8840bea003c');
}

h1, h2 {
  color: #444;
}

a {
  text-decoration: none;
  color: #669DD1;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}
