body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.kamcord-videos *, .kamcord-videos *:before, .kamcord-videos *:after {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

.kamcord-videos {
  overflow: auto
}

.kamcord-videos .vid-box {
  width: calc(100% / 3);
  float: left;
  padding: 10px 20px 10px 0;
}

.kamcord-videos .vid-box .preview {
  height: 0px;
  padding-bottom: 50%;
  background-size: cover;
  position: relative;
}

.kamcord-videos .vid-box .preview video {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.kamcord-videos .vid-box .details {
  padding: 5px;
  width: 100%;
  overflow: auto;
}

.kamcord-videos .vid-box .game-icon {
  /*TODO: make avatar resize;*/
  float: left;
  width: 15%;
}

.kamcord-videos .vid-box .stats {
  float: left;
  font-size: 12px;
  width: 80%;
}

.kamcord-videos .vid-box .stats .title, .kamcord-videos .vid-box a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #669DD1;
  text-decoration: none;
  font-weight: bold;
}

.kamcord-videos .vid-box .stats .info {
  color: #C6C6C6;
}

.kamcord-videos .shadow {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
